.banner {
	margin: 0;
    display: flex;
    width: 100vw;
    height: auto;
    position: relative;
  }
  
  .banner img {
	width: 100%;
	height: auto;
	box-shadow: 0 0 6px rgb(255, 255, 255);
 }

 .visible {
	display: block !important;
 }

 .slider-banner {
	display: none;
 }
 
 .choice-banner {

 }

