.service-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px grey;
  border-radius: 9px;
  margin: 10px;
}

.service-item:hover {
  box-shadow: 3px 3px 9px #c90000;
  cursor: pointer;
  text-shadow: 0 0 1px #c90000;
}

.service-detail {
  margin: 10px;
}

.service-detail span {
  color: gray;
}

.service img {
  margin: 10px;
  width: 40px;
}

.service img:hover {
  width: 40px;
  color: #c90000;
}

.service-title {
  font-size: 17px;
  text-transform: uppercase;
}
