header {
	position: sticky;
	top: 0;
	z-index: 1;
}

.header {
	width: 100%;
	height: 85px;
	background-color: #bd7676;
	display: flex;
}

.fa-gift:hover, 
.fa-user:hover,
.fa-search:hover,
.fa-times:hover,
.fa-bars:hover {
	color: rgb(14, 14, 14);
} 